[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "pyx2cscope"
version = "0.1.3"
description = "python implementation of X2Cscope"
authors = [
  "Yash Agarwal <yash.agarwal@microchip.com>",
  "Edras Pacola",
  "Christoph Baumgartner",
  "Mark Wendler",
]
readme = "README.md"
packages = [{include = "pyx2cscope"}]

license = "Proprietary"

homepage = "https://x2cscope.github.io/"
documentation = "https://x2cscope.github.io/"
repository = "https://github.com/X2Cscope/pyx2cscope"

[tool.poetry.dependencies]
pyserial = "^3.5"
pyelftools = "^0.29"
numpy = "^1.25.1"
matplotlib = "^3.7.2"
PyQt5 = "^5.15.9"
mchplnet = "0.1.0"

[tool.isort]
profile = "black"

[tool.pylint]
max-line-length=240
