<span class="text-muted float-end">&nbsp;&nbsp;</span>
<a href="#" class="text-decoration-none float-end" title="Import Layout" onclick="importDashboardLayout(); return false;">
    <span class="material-icons md-18">download</span>
</a>
<a href="#" class="text-decoration-none float-end" title="Export Layout" onclick="exportDashboardLayout(); return false;">
    <span class="material-icons md-18">upload</span>
</a>
<a href="#" class="text-decoration-none float-end" title="Load Layout" onclick="loadDashboardLayout(); return false;">
    <span class="material-icons md-18">folder_open</span>
</a>
<a href="#" class="text-decoration-none float-end" title="Save Layout" onclick="saveDashboardLayout(); return false;">
    <span class="material-icons md-18">save</span>
</a>
<a href="#" class="text-decoration-none float-end" title="Edit Mode" id="dashboardModeBtn" onclick="toggleDashboardMode(); return false;">
    <span class="material-icons md-18 text-success">edit</span>
</a>




