<!-- Footer -->
<!-- Logo Image -->
<div class="footer-logo mb-2">
    <img src="https://www.microchip.com/content/experience-fragments/mchp/en_us/site/footer/master/_jcr_content/root/responsivegrid/footer/microchip-logo.coreimg.100.300.png/1681856304799/microchip-logo.png"
         alt="Microchip Logo" style="width: 100px; height: auto;">
</div>
<!-- Footer Content -->
<p class="footer-text">
    © <script>document.write(new Date().getFullYear());</script>Microchip Technology Inc. All rights reserved.
</p>
