<div class="row">
    <div class="col-md-4">
        <button type="button" id="scopeSampleStart" class="btn btn-primary">Sample</button>
    </div>
    <div class="col-md-4">
        <button type="button" id="scopeSampleAbort" class="btn btn-danger disabled">Abort</button>
    </div>
    <div class="col-md-4">
        <label class="checkbox-inline">
            <input type="checkbox" value="">Single-shot
        </label>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <label for="sampleTime">Sample time factor:</label>
        <input type="number" id="sampleTime" name="sampleTime" size="2" min="1" max="30" value="1">
    </div>
</div>