<form id="sampleControlForm" class="needs-validation" novalidate>
    <div class="mb-3">
        <div class="btn-group w-100" role="group" aria-label="Trigger actions">
            <input type="radio" class="btn-check" name="triggerAction" id="triggerStart" value="on" autocomplete="off">
            <label class="btn btn-outline-success" for="triggerStart">Sample</label>
            
            <input type="radio" class="btn-check" name="triggerAction" id="triggerStop" value="off" autocomplete="off" checked>
            <label class="btn btn-outline-danger active" for="triggerStop">Stop</label>
            
            <input type="radio" class="btn-check" name="triggerAction" id="triggerShot" value="shot" autocomplete="off">
            <label class="btn btn-outline-primary" for="triggerShot">Burst</label>
        </div>
    </div>
    
    <div class="mb-3">
        <label for="sampleTime" class="form-label">Time factor</label>
        <div class="input-group">
            <input type="number" id="sampleTime" name="sampleTime" class="form-control" min="1" max="30" value="1" required>
            <span class="input-group-text">:1</span>
        </div>
    </div>
    
    <div class="mb-3">
        <label for="sampleFreq" class="form-label">Frequency</label>
        <div class="input-group">
            <input type="number" id="sampleFreq" name="sampleFreq" class="form-control" min="1" max="30" value="20" required>
            <span class="input-group-text">KHz</span>
        </div>
    </div>
</form>
