<div id="scripting" class="container-fluid">
    <!-- File Selection Row -->
    <div class="row">
        <div class="col-12">
            <label for="pythonFile" class="form-label">Select an script file</label>
            <div class="input-group">
                <input type="file" class="form-control" id="pyFile" accept=".py">
            </div>
            <div class="form-text">Supported formats: .py</div>
        </div>
    </div>

    <!-- Connect Button -->
    <div class="row mt-4">
        <div class="col-xs-12 col-md-6">
            <button id="btnRunScript" class="btn btn-primary w-100">Run</button>
        </div>
    </div>
</div>