<div class="row">
    <div class="col-md-3">
        <select id="scopeSearch" style="width:100%;"></select>
    </div>
    <div class="col-md-1">
        <button type="button" id="scopeSave" class="btn btn-secondary">Save</button>
    </div>
    <div class="col-md-1">
        <button type="button" id="scopeLoad" class="btn btn-secondary">Load</button>
    </div>
    <div class="col-md-2 offset-5">
        <button type="button" id="scopeExport" class="btn btn-secondary">Export</button>
    </div>
</div>
<br>
<table class="table" style="width:100%" id="scopeTable">
    <thead>
        <tr>
            <th>Trigger</th>
            <th>Enable</th>
            <th>Variable</th>
            <th>Color</th>
            <th>Gain</th>
            <th>Offset</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="scopeTableBody">
    </tbody>
</table>
